@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @TODO : ν™•μΈν•„μ” */
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot');
  src:
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot');
  src:
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf') format('truetype');
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-purple-25: #fcfaff;
  --color-purple-50: #f9f5ff;
  --color-purple-100: #f4ebff;
  --color-purple-200: #e9d7fe;
  --color-purple-300: #d8bbfb;
  --color-purple-400: #b692f6;
  --color-purple-500: #9e77ed;
  --color-purple-600: #7f56d9;
  --color-purple-700: #6941c6;
  --color-purple-800: #53389e;
  --color-purple-900: #42307d;
  --color-purple-950: #2c1c5f;
  --color-gray-25: #fdfdfd;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e9eaeb;
  --color-gray-300: #d5d7da;
  --color-gray-400: #a4a7ae;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-800: #252b37;
  --color-gray-900: #181d27;
  --color-gray-950: #0a0d12;
}

@layer components {
  h1 {
    font-family: Pretendard;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.25px;
  }

  h2 {
    font-family: Pretendard;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.25px;
  }

  h3 {
    font-family: Pretendard;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
  }

  h4 {
    font-family: Pretendard;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.25px;
  }

  h5 {
    font-family: Pretendard;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.25px;
  }

  h6 {
    font-family: Pretendard;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.25px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, Arial, Helvetica, sans-serif;
}
